# host00
ip addr add fc00:0:f800:0::2/64 dev eth1
ip addr add fc00:0:f800:4::2/64 dev eth2
ip addr add fc00:0:f800:8::2/64 dev eth3
ip addr add fc00:0:f800:c::2/64 dev eth4

ip -6 route add fc00:0::/32 via fc00:0:f800:0::1 dev eth1

docker exec -it clab-clos-host00 ip -6 route add fc00:0:f800:8000::/64 encap seg6 mode encap segs fc00:0:fe00:fe00:fe04:fe04:: dev eth1
docker exec -it clab-clos-host00 ip -6 route add fc00:0:f800:8001::/64 encap seg6 mode encap segs fc00:0:fe01:fe01:fe05:fe05:: dev eth2
docker exec -it clab-clos-host00 ip -6 route add fc00:0:f800:8002::/64 encap seg6 mode encap segs fc00:0:fe02:fe02:fe06:fe06:: dev eth3
docker exec -it clab-clos-host00 ip -6 route add fc00:0:f800:8003::/64 encap seg6 mode encap segs fc00:0:fe03:fe03:fe07:fe07:: dev eth4

docker exec -it clab-clos-host00 ip -6 route add fc00:0:f800:8004::/64 encap seg6 mode encap segs fc00:0:1400:1000:1600:1700:: dev eth1
docker exec -it clab-clos-host00 ip -6 route add fc00:0:f800:8005::/64 encap seg6 mode encap segs fc00:0:1401:1001:1601:1701:: dev eth2
docker exec -it clab-clos-host00 ip -6 route add fc00:0:f800:8006::/64 encap seg6 mode encap segs fc00:0:1402:1002:1602:1702:: dev eth3
docker exec -it clab-clos-host00 ip -6 route add fc00:0:f800:8007::/64 encap seg6 mode encap segs fc00:0:1403:1003:1603:1703:: dev eth4


# host01
docker exec -it clab-clos-host01 ip addr add fc00:0:f800:1::2/64 dev eth1
docker exec -it clab-clos-host01 ip addr add fc00:0:f800:5::2/64 dev eth2
docker exec -it clab-clos-host01 ip addr add fc00:0:f800:9::2/64 dev eth3
docker exec -it clab-clos-host01 ip addr add fc00:0:f800:d::2/64 dev eth4

docker exec -it clab-clos-host01 ip -6 route add fc00:0::/32 via fc00:0:f800:1::1 dev eth1

# host02
docker exec -it clab-clos-host02 ip addr add fc00:0:f800:2::2/64 dev eth1
docker exec -it clab-clos-host02 ip addr add fc00:0:f800:6::2/64 dev eth2
docker exec -it clab-clos-host02 ip addr add fc00:0:f800:a::2/64 dev eth3
docker exec -it clab-clos-host02 ip addr add fc00:0:f800:e::2/64 dev eth4

docker exec -it clab-clos-host02 ip -6 route add fc00:0::/32 via fc00:0:f800:2::1 dev eth1

# host03
docker exec -it clab-clos-host03 ip addr add fc00:0:f800:3::2/64 dev eth1
docker exec -it clab-clos-host03 ip addr add fc00:0:f800:7::2/64 dev eth2
docker exec -it clab-clos-host03 ip addr add fc00:0:f800:b::2/64 dev eth3
docker exec -it clab-clos-host03 ip addr add fc00:0:f800:f::2/64 dev eth4

docker exec -it clab-clos-host03 ip -6 route add fc00:0::/32 via fc00:0:f800:3::1 dev eth1

# host512
docker exec -it clab-clos-host512 ip addr add fc00:0:f800:8000::2/64 dev eth1
docker exec -it clab-clos-host512 ip addr add fc00:0:f800:8004::2/64 dev eth2
docker exec -it clab-clos-host512 ip addr add fc00:0:f800:8008::2/64 dev eth3
docker exec -it clab-clos-host512 ip addr add fc00:0:f800:800c::2/64 dev eth4

docker exec -it clab-clos-host512 ip -6 route add fc00:0::/32 via fc00:0:f800:8000::1 dev eth1

# host513
docker exec -it clab-clos-host513 ip addr add fc00:0:f800:8001::2/64 dev eth1
docker exec -it clab-clos-host513 ip addr add fc00:0:f800:8005::2/64 dev eth2
docker exec -it clab-clos-host513 ip addr add fc00:0:f800:8009::2/64 dev eth3
docker exec -it clab-clos-host513 ip addr add fc00:0:f800:800d::2/64 dev eth4

docker exec -it clab-clos-host513 ip -6 route add fc00:0::/32 via fc00:0:f800:8001::1 dev eth1

# host514
docker exec -it clab-clos-host514 ip addr add fc00:0:f800:8002::2/64 dev eth1
docker exec -it clab-clos-host514 ip addr add fc00:0:f800:8006::2/64 dev eth2
docker exec -it clab-clos-host514 ip addr add fc00:0:f800:800a::2/64 dev eth3
docker exec -it clab-clos-host514 ip addr add fc00:0:f800:800e::2/64 dev eth4

docker exec -it clab-clos-host514 ip -6 route add fc00:0::/32 via fc00:0:f800:8002::1 dev eth1

# host515
docker exec -it clab-clos-host515 ip addr add fc00:0:f800:8003::2/64 dev eth1
docker exec -it clab-clos-host515 ip addr add fc00:0:f800:8007::2/64 dev eth2
docker exec -it clab-clos-host515 ip addr add fc00:0:f800:800b::2/64 dev eth3
docker exec -it clab-clos-host515 ip addr add fc00:0:f800:800f::2/64 dev eth4

docker exec -it clab-clos-host515 ip -6 route add fc00:0::/32 via fc00:0:f800:8003::1 dev eth1
